[Unit]
Description={{ jenkins_swarm_task_name }}
After=network.target
After=docker.service

[Service]
Type=simple
PIDFile=/var/run/{{ jenkins_swarm_service_name }}.pid
ExecStartPre=/bin/rm -f /var/run/{{ jenkins_swarm_service_name }}.pid
ExecStart=/usr/bin/java \
{% if jenkins_agent_jvm_args is defined %}
  {{ jenkins_agent_jvm_args|join(' ') }} \
{% endif %}
  -jar {{ swarm_jar.dest }} \
  -master '{{ jenkins_master_url|default('') }}' \
{% if jenkins_agent_username is defined %}
  -username '{{ jenkins_agent_username }}' \
{% endif %}
{% if jenkins_agent_password is defined %}
  -password '{{ jenkins_agent_password }}' \
{% endif %}
  -name '{{ agent_name }}' \
{% if swarm_labels_file is defined %}
  -labelsFile '{{ swarm_labels_file }}' \
{% else %}
  -labels '{{ swarm_labels }}' \
{% endif %}
{% if jenkins_agent_additional_args is defined %}
{% for arg in jenkins_agent_additional_args %}
  {{ arg }} \
{% endfor %}
{% endif %}
  -executors '{{ swarm_executors }}'
Restart=on-abort

[Install]
WantedBy=default.target
